@import url("./styles/variables.css");

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

html {
  font: var(--default-text-size) / var(--default-line-height)
    var(--default-text-font);
  color: var(--default-text-color);
}

* {
  box-sizing: border-box;
}

@media (min-width: 992px) {
  :root {
    --gutter-x: 1.5rem;
    --gutter-y: 1.5rem;
  }
}
